<header>
  <label>El alumno {{student.nombre}} tiene las siguientes materias:</label>
</header>

<div class="main">
  <div class="main row">
    <div class="col-10">
      <p-table [value]="subjects" [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" style="width: 20%">
              Materias Asignadas <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="name" style="width: 20%">
              Costo por materia <p-sortIcon field="name"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subject>
          <tr >
            <td>{{ subject.nombre }}</td>
            <td>{{ subject.costo | currency : "USD" }}</td>
          </tr>
        </ng-template>
      </p-table>
      <span>Costo total: {{cost | currency : "USD"}} </span>
    </div>

  </div>
</div>
