<html>
  <head> </head>

  <body>
    <form (ngSubmit)="addSubject()" [formGroup]="addSubjectForm">
      <div class="row">
        <div class="row p-lg-3">
          <input type="text" pInputText formControlName="name" />
        </div>
        <div class="row p-lg-3">
          <input type="number" pInputText formControlName="cost" />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-2">
          <p-button type="button" [text]="true" severity="secondary"
            >Cancel</p-button
          >
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            style="margin-left: 13rem"
          >
            Agregar
          </button>
        </div>
      </div>
    </form>
  </body>
</html>
