<div>

  <div>
    <div >
      <p-table [value]="students" [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" style="width: 20%">
              Nombre de la Materia <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="name" style="width: 20%">
              Apellido Paterno <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="price" style="width: 20%">
              Apellido Materno <p-sortIcon field="price"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
          <tr >
            <td>{{ student.nombre }}</td>
            <td>{{ student.apellidoPaterno}}</td>
            <td>{{ student.apellidoMaterno}}</td>
          </tr>
        </ng-template>
      </p-table>
      <label>Total de alumnos: --llaves con la suma--</label>
    </div>

  </div>
</div>
