<div class="row">
  <div class="col-4 m-5">
    <h5>
      Selecciona un estudiante:
    </h5>
  </div>
  <div class="col-4 m-5">
    <p-dropdown
    [options]="students"
    [(ngModel)]="selectedStudent"
    optionLabel="name"
    [style]="{'width':'100%'}"
  ></p-dropdown>
  </div>
</div>

<div class="row">
  <div>
    <p-table [value]="subjects" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="width: 20%">
            Nombre de la Materia <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="price" style="width: 20%">
            Asignar <p-sortIcon field="price"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-subject>
        <tr >
          <td>{{ subject.nombre }}</td>
          <td>
              <!--VALOR QUE TRAE EL ASIGNADO Y SIN ASIGNAR-->
              <p-checkbox formControlName="materia" value="New York" ></p-checkbox>
              <!--VALOR QUE TRAE EL ASIGNADO Y SIN ASIGNAR-->
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
